
/* body background color */
body {
		background-color: #03256cff;
}

/*Style to create a fluid image*/
img {
	max-width: 100%;
}

/*Styles for Mobile Layout*/

/* Style for container centers the page and sets the element width */
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for header center aligns content */
header {
	text-align: center;
}

/* Style for the nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: 0.5em;
}

/* Style specific padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #2541b2ff;
	border-radius: 0.6em;
	list-style-type: none;
	margin: 0.5em;
	padding: 0.6em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #eff7ffff;
	text-decoration: none;
}

/* Style displays the mobile class */
.mobile {
	display: inline;
}

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 1.5em;
	padding: 1em;
	border-radius: 0.6em;
	background-color: #eff7ffff;
	opacity: 0.95;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
	font-size:.70em;
	text-align: center;
	margin-top: 2em;
	color: #eff7ffff;
}

/* Style for anchor elements within the footer */
footer a {
	color: #eff7ffff;
	text-decoration: none;
}

/* header 1 font size */
h1 {
	font-size: 3em;
	color:#03256cff;
}

.containers {
	position: relative;
	text-align: center;
}
	
.collapsible {
	background-color: #1768acff;
	cursor: pointer;
	padding: 0.2em;
	width: 100%;
	border: none;
	border-radius: 0.6em;
	outline: none;
	margin-top: 1%;
	font-size: 1.5em;
	font-weight: bold;
}
	
.active, .collapsible:hover {
	background-color: #44a1a0ff;
}

.collapsible:after {
	content: '\02795';
	color: #FFFFFF;
	font-size: 1.5em;
	float: right;
	margin-left: 1%;
}

.active:after {
	content: "\2796";
}

.content {
	padding: 0 1em;
	display: none;
	overflow: hidden;
	background-color: #FFFFFF;
}

@media only screen and (min-width: 883px) {
	
nav ul {
	display: inline-block;
}

nav li {
	display: inline;
	border-radius: 0.1em;
}

nav li:hover {
	background-color: #1768acff;
	}
	
nav li a:hover {
		font-size: 1.5em;
}

.mobile {
	display: none;
}

.desktop {
	display: inline;
}

h1 {
	text-align: center;
}
}